<%= render 'layouts/navigation'%>
<% max_photos = 15 %>
<section class="section">
  <div class="container m-0 p-0">
    <div class="row no-gutters text-left">
      <div class="col-12 ">
        <%= render '/layouts/steps', tour: @tour %>
        <h2 class="mt-3">
          Please Select <%= max_photos %> Photos
          <small class="text-muted">(to be used for brochure photos)</small>
        </h2>
      </div>
    </div>
    <div class="row no-gutters mt-5">
      <% @tour.images.each do |image| %>
        <div data-image-id="<%= image.name %>" class="col-3 my-2 card <%= "selected-image" if @tour.selected_images.include?(image.name) %> tour-image">
          <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{image.name}", class:'w-100 card-img-top'%>
        </div>
      <% end %>
    </div>
    <div class="row no-gutters text-left mb-5">
      <div class="col-4 mt-4">
      </div>
      <div class="col-6 mt-5">
      <%= form_for @tour, url: wizard_path(:step2, :tour_id => @tour.id), method: :put do |f| %>
        <%=  f.hidden_field :selected_images  %>
        <%=  f.submit "Next Step", class: 'btn btn-primary w-100 to-step2-button' %>
      <% end %>
      <p class="text-center mt-2">You can always edit the images</p>
      </div>
      <div class="col-4 mt-4">
      </div>
    </div>
  </div>
</section>
<script>
  MAX_IMAGE_COUNT = <%= max_photos %>;
  topSelectedImages = <%= raw @tour.selected_images %>;
  document.addEventListener("turbolinks:load", function() {
    $('.to-step2-button').on("click", function(e) {
      if($('.selected-image').length < MAX_IMAGE_COUNT) {
        e.preventDefault()
        alert(`please selecte ${MAX_IMAGE_COUNT} images`)
      }
    })
    $(".tour-image").on("click", function() {
      const imageId = $(this).data("image-id");
        if($(this).hasClass("selected-image")) {
          const index = topSelectedImages.indexOf(imageId);
          topSelectedImages.splice(index, 1);
          $(this).removeClass("selected-image");
        } else {
          if(topSelectedImages.length >= MAX_IMAGE_COUNT) {
            alert(`Please select no more than ${MAX_IMAGE_COUNT} images`);
          } else {
            topSelectedImages.push(imageId);
            $(this).addClass("selected-image");
          }
        }
        $("#tour_selected_images").val(topSelectedImages.join(","));
    });
  });
</script>