<%= render 'layouts/navigation'%>
<section class="section mb-5" data-turbolinks="false">
  <div class="container p-0 m-0">
    <div class="row gx-4">
    <div class="col-2"></div>
      <div class="card col-8 p-5" >
        <div class="row justify-content-center">
        <img class="card-img-top ml-5 mt-3" style="width:27%" src="<%= asset_path('pdf.png') %>"/>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <%= link_to "LOW RESOLUTION PREVIEW", preview_path(:tour_id => @tour.id), class:'btn btn-primary w-100 mb-5 mt-5', :data => {disable_with: "Previewing PDF ..."} %>
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-8">
              <%= link_to "NEXT STEP", create_path(:tour_id => @tour.id), class:'btn btn-primary w-100', :data => {disable_with: "Generating PDF ..."} %>
            </div>
            <div class="col-2"></div>
          </div>

        </div>
      </div>
          <div class="col-2"></div>

    </div>
  </div>
</section>
<script>
  selectedImages = <%= raw [@tour.second_image,@tour.first_image.present? ? @tour.first_image : '', @tour.third_image, @tour.fourth_image,
                            @tour.fifth_image,@tour.sixth_image,@tour.seventh_image, @tour.eighth_image, @tour.ninth_image, 
                            @tour.tenth_image, @tour.eleventh_image, @tour.twelfth_image, @tour.thirteenth_image,
                            @tour.fourteenth_image, @tour.fifteenth_image] %>;
  document.addEventListener("turbolinks:load", function() {
    $('.btn-primary').on("click", function(e) {
      const lengthOfUnselectedImages = selectedImages.filter((image) => image === '').length
      if(lengthOfUnselectedImages > 0) {
        e.preventDefault();
        alert('You must select all images from step2 and step1');
        $(this)[0].removeAttribute('data-disable-with');
      } else {
        if(!$(this)[0].hasAttribute('data-disable-with')) {
          $(this)[0].addAttribute('data-disable-with');
        }
      }
    })
  })
</script>