<%= render 'layouts/navigation'%>
<section class="section mb-5">
  <div class="container p-0 m-0">
    <div class="row no-gutters">
      <div class="col-12">
        <%= render '/layouts/steps', tour: @tour%>
      </div>
    </div>
    <div class="row no-gutters <%= @tour.selected_theme == 'dark' ? 'bg-black' : ''%>">
      <h2 class="<%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>">
        Click on the different photos or text to customize
        <small class="text-muted <%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>">(note that the display is approximate)</small>
      </h2>
      <div class="col-6" style="padding-top: 200px">
        <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/Floorplan_Branded.jpg", style: 'width: 100%; padding-right: 20px' %>
      </div>
      <div class="col-6" style="padding-top: 200px">
        <div class="row no-gutters">
          <div class="col-6" >
            <h6 class="<%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>">Listing Features</h6>
            <span id="address_modal_link" class="text-decoration-underline <%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>"><%= @tour.listing_address %></span>
          </div>
          <div class="col-6" style="text-align: right">
            <%= image_tag @tour.broker_logo %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <a id="first_image_modal_link" class="text-decoration-underline modal-link"><%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.first_image}", style: 'width: 100%' %></a>
          </div>
        </div>
          <div class="row no-gutters pt-5">
          <div class="col-4">
            <a id="second_image_modal_link" class="text-decoration-underline modal-link"><%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.second_image}", style: 'width: 100%' %></a>
          </div>
          <div class="col-5">
            <span id="agent_name_modal_link" class="d-block text-decoration-underline modal-link <%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>"><%= @tour.agent_name %> </span>
            <span class="d-block <%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>">Personal Real Estate Corporation</span>
            <span id="agent_phone_modal_link" class="d-block text-decoration-underline modal-link <%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>"><%= @tour.agent_phone %></span>
            <span id="agent_email_modal_link" class="d-block text-decoration-underline modal-link <%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>"><%= @tour.agent_email %></span>
            <span id="agent_url_modal_link" class="d-block text-decoration-underline modal-link <%= @tour.selected_theme == 'dark' ? 'text-white' : ''%>"><%= @tour.agent_url %></span>
          </div>
          <div class="col-3">
            <%= image_tag @tour.broker_logo, style: 'width: 100%' %>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters text-center mt-5">
      <div class="col-6">
        <%= link_to 'Next Step', wizard_path(:step4, :tour_id => @tour.id), class: 'btn btn-primary theme-step-button w-100',data: { turbolinks: false } %>
      </div>
    </div>
  </div>
</section>
<%= render 'tours/first_page/images_modal', tour: @tour %>
<%= render 'tours/first_page/address_modal', tour: @tour %>
<%= render 'tours/first_page/agent_email_modal', tour: @tour %>
<%= render 'tours/first_page/agent_url_modal', tour: @tour %>
<%= render 'tours/first_page/agent_phone_modal', tour: @tour %>
<%= render 'tours/first_page/agent_name_modal', tour: @tour %>

<%= render 'tours/third_step/image_modal', tour: @tour, image_id: "first_image" %>
<%= render 'tours/third_step/image_modal', tour: @tour, image_id: "second_image" %>


<script>
  document.addEventListener("turbolinks:load", function() {
    $('.modal-link').on("click", function() {
      const modalId = $(this)[0].id.replace('_link','');
      $(`#${modalId}`).modal('show')
    })
    $('#images_modal_link').on("click", function() {
      $('#images_modal').modal('show')
    });
    $('#address_modal_link').on("click", function() {
      $('#address_modal').modal('show')
    })
  })
</script>
