<%= render 'layouts/navigation'%>
<section class="section mb-5">
  <div class="container p-0 m-0">
    <div class="row no-gutters">
      <div class="col-12">
        <%= render '/layouts/steps', tour: @tour%>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-6" style="padding-top: 200px">
        <div class="row no-gutters">
          <h1><%= @tour.listing_address %></h1>
        </div>
        <div class="row no-gutters">
          <span id="price_modal_link" class="text-decoration-underline modal-link">
            LISTED FOR<h1 class="d-inline-block pl-4"><%= @tour.price %></h1>
          </span>
        </div>
        <div class="row no-gutters">
          <span id="description_modal_link" class="text-decoration-underline modal-link">
            <p><%= @tour.description %></p>
          </span>
        </div>
        <div class="row no-gutters">
          <div class="col-2">
            <span id="lot_modal_link" class="text-decoration-underline modal-link">
              LOT <%= @tour.lot_maint %> SF
            </span>
          </div>
          <div class="col-2">
            <span id="size_modal_link" class="text-decoration-underline modal-link">
              SIZE <%= @tour.size %> SF
            </span>
          </div>
          <div class="col-2">
            <span id="bedrooms_modal_link" class="text-decoration-underline modal-link">
              <%= @tour.bedrooms %> BED
            </span>
          </div>
          <div class="col-2">
            <span id="bathrooms_modal_link" class="text-decoration-underline modal-link">
              <%= @tour.bathrooms %> BATH
            </span>
          </div>
          <div class="col-2">
            <span id="tax_modal_link" class="text-decoration-underline modal-link">
              TAXES $<%= @tour.tax %>
            </span>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[4].name}", style: 'width: 100%' %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[5].name}", style: 'width: 100%'  %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[5].name}", style: 'width: 100%'  %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[5].name}" , style: 'width: 100%' %>
          </div>
        </div>
      </div>
      <div class="col-6" style="padding-top: 200px">
        <div class="row no-gutters">
          <div class="col-12" >
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[4].name}", style: 'width: 100%' %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[2].name}", style: 'width: 100%; padding-top: 10px;padding-right: 7.5px' %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[3].name}", style: 'width: 100%; padding-top: 10px;padding-left: 7.5px' %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[3].name}", style: 'width: 100%; padding-top: 10px;padding-left: 7.5px' %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[2].name}", style: 'width: 100%; padding-top: 10px;padding-right: 7.5px' %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[3].name}", style: 'width: 100%; padding-top: 10px;padding-left: 7.5px' %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[3].name}", style: 'width: 100%; padding-top: 10px;padding-left: 7.5px' %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[2].name}", style: 'width: 100%; padding-top: 10px;padding-right: 7.5px' %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[3].name}", style: 'width: 100%; padding-top: 10px;padding-left: 7.5px' %>
          </div>
          <div class="col-4">
            <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.images[3].name}", style: 'width: 100%; padding-top: 10px;padding-left: 7.5px' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters text-center mt-5">
      <div class="col-6">
        <%= link_to 'Next Step', wizard_path(:step5, :tour_id => @tour.id), class: 'btn btn-primary theme-step-button w-100' %>
      </div>
    </div>
  </div>
</div>
</section>
<%= render 'tours/second_page/description_modal', tour: @tour %>
<%= render 'tours/second_page/price_modal', tour: @tour %>
<%= render 'tours/second_page/lot_modal', tour: @tour %>
<%= render 'tours/second_page/size_modal', tour: @tour %>
<%= render 'tours/second_page/bedrooms_modal', tour: @tour %>
<%= render 'tours/second_page/bathrooms_modal', tour: @tour %>
<%= render 'tours/second_page/tax_modal', tour: @tour %>
<script>
  $(document).ready(function() {
    $('.modal-link').on("click", function() {
      const modalId = $(this)[0].id.replace('_link','');
      console.log(modalId, 'modalId')
      $(`#${modalId}`).modal('show')
    })
    $('#images_modal_link').on("click", function() {
      $('#images_modal').modal('show')
    });
  })
</script>