<%= render 'layouts/navigation'%>
<section class="section mb-5" data-turbolinks="false">
  <div class="container p-0 m-0">
    <div class="row gx-4">
      <div class="card col-5 px-0" >
        <img src="<%= @tour.first_image.present? ? "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.first_image}" : '' %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Preview PDF</h5>
          <p class="card-text">Take a sneak peek of your brochure before you approve it for printing.</p>
          <%= link_to "Preview", preview_path(:tour_id => @tour.id), class:'btn btn-primary w-100', :data => {disable_with: "Previewing PDF ..."} %>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="card col-5 px-0" >
        <img src="<%= @tour.first_image.present? ? "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{@tour.first_image}" : '' %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Approve PDF</h5>
          <p class="card-text">Now that you're satisfied with the design and content, it's time to give your final approval for printing.</p>
        <%= link_to "Approve for Printing", create_path(:tour_id => @tour.id), class:'btn btn-primary w-100', :data => {disable_with: "Generating PDF ..."} %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  selectedImages = <%= raw [@tour.second_image,@tour.first_image.present? ? @tour.first_image : '', @tour.third_image, @tour.fourth_image,
                            @tour.fifth_image,@tour.sixth_image,@tour.seventh_image, @tour.eighth_image, @tour.ninth_image, 
                            @tour.tenth_image, @tour.eleventh_image, @tour.twelfth_image, @tour.thirteenth_image,
                            @tour.fourteenth_image, @tour.fifteenth_image] %>;
  document.addEventListener("turbolinks:load", function() {
    $('.btn-primary').on("click", function(e) {
      const lengthOfUnselectedImages = selectedImages.filter((image) => image === '').length
      if(lengthOfUnselectedImages > 0) {
        e.preventDefault();
        alert('You must select all images from step2 and step1');
        $(this)[0].removeAttribute('data-disable-with');
      } else {
        if(!$(this)[0].hasAttribute('data-disable-with')) {
          $(this)[0].addAttribute('data-disable-with');
        }
      }
    })
  })
</script>