<div class="modal fade" id="first_image_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="first_image_modal_title">Modal title</h5>
      </div>
      <div class="modal-body">
        <%= form_for @tour, url: tour_detail_path(@tour, type: :first_image), method: :put, remote: true do |f| %>
        <%= f.hidden_field :first_image %>
        <div class="row no-gutters">
            <% tour.selected_images.each do |image| %>
              <div data-image-id="<%= image %>" class="col-4 my-2 <%= "selected-image" if tour.first_image == image %> tour-image">
                <%= image_tag "https://www.cotala.com/tours/#{@tour.cotala_tour_id}/#{@tour.cotala_tour_id}_#{image}", class:'w-100'%>
              </div>
            <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary save">Save changes</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
const selectedImages = <%= raw @tour.selected_images %>;
  $(document).ready(function() {
    $('.close').on("click", function() {
      $('#first_image_modal').modal('hide')
    })
    $('.save').on("click", function() {
      if($('.selected-image').length === 0){
        alert(`Please select at least 1 image`);
        $('#first_image_modal').modal('show')
      } else {
        $('#first_image_modal').modal('hide')
      }
    })
    $(".tour-image").on("click", function() {
      const imageId = $(this).data("image-id");
        if($(this).hasClass("selected-image")) {
          const index = selectedImages.indexOf(imageId);
          selectedImages.splice(index, 1);
          $(this).removeClass("selected-image");
        } else {
          $(".selected-image").removeClass('selected-image')
          selectedImages.push(imageId);
          $(this).addClass("selected-image");
        }
        $("#tour_first_image").val($(".selected-image").data("image-id"));
    });
  })
</script>